@use './mixins' as *;
.articles{
    width: 100%;
    height: 80vh;
    .header{
        @include space-between;
        h1{
            margin-left: 2%;
            color: var(--blue-color);
        }
        button{
            @include button;
            margin-right: 2%;
        }
    }
.content-page{
.contain-articles{
    @include space-between;
    article:nth-child(1){
        width: 350px;
        height: 300px;
        border-radius: 10px;
        .img{
            width: 350px;
            height: 250px;
            background-image: url(../images/images-website/image.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            cursor: pointer;
            transition: var(--transition);
        &:hover{
            transform: rotate(5deg) scale(1.1);
        } 
    }
        h3{
            background-color: #fff;
            width: 300px;
            font-size: 15px;
            color: var(--blue-color);
            text-align: left;
            height: 100px;
            @include center;
            position: relative;
            top: -15%;
            left: 5%;
            box-shadow: 0px 30px 15px 5px #ddd;
            &::after{
                content: " Lastest Articles ";
                    width: 111px;
                    height: 10px;
                    font-size: 5px;
                    padding: 10px;
                    background-color: #0b74a4;
                    color: #fff;
                    text-align: center;
                    position: absolute;
                    top: -20%;
                    left: 10%;
            }
            &::before{
                content: "";
                width: 2px;
                height: 40px;
                background-color: #0b74a4;
                position: absolute;
                left: 7%;
            }
        }
        p{
            text-align: left;
            font-size: 12px;
            // color: #fff;
        }
        span{
            background-color: var(--blue-color);
            color: #fff;
            padding: 5px;
            border-radius: 50%;
            font-size: 12px;
            display: block;
            width: 20px;
            height: 20px;
            @include center;
            margin-top: 2%;
            cursor: pointer;
        }
}
article:nth-child(2){
    width: 350px;
    height: 300px;
    border-radius: 10px;
            .img{
                width: 100%;
                height: 250px;
                background-image: url(../images/images-website/worker.jpg);
                background-repeat:no-repeat;
                background-size: cover;
                border-radius: 10px;
                cursor: pointer;
                transition: var(--transition);
                &:hover{
                    transform: rotate(5deg) scale(1.1);
                } 
            }
        h3{
            background-color: #fff;
            width: 300px;
            font-size: 15px;
            color: var(--blue-color);
            text-align: left;
            height: 100px;
            @include center;
            box-shadow: 0px 30px 15px 5px #ddd;
            position: relative;
            top: -15%;
            left: 5%;
            &::after{
                content: " Lastest Articles ";
                    width: 111px;
                    height: 10px;
                    font-size: 5px;
                    padding: 10px;
                    background-color: #0b74a4;
                    color: #fff;
                    text-align: center;
                    position: absolute;
                    top: -20%;
                    left: 10%;
            }
            &::before{
                content: "";
                width: 2px;
                height: 40px;
                background-color: #0b74a4;
                position: absolute;
                left: 7%;
            }
        }
        p{
            text-align: left;
            font-size: 12px;
        }
        span{
            background-color: var(--blue-color);
            color: #fff;
            padding: 5px;
            border-radius: 50%;
            font-size: 12px;
            display: block;
            width: 20px;
            height: 20px;
            @include center;
            margin-top: 2%;
            cursor: pointer;
        }
        }
article:nth-child(3){
            width: 350px;
            height: 300px;
            border-radius: 10px;
            .img{
                width: 100%;
                height: 250px;
                background-image: url(../images/images-website/construction-site.jpg);
                background-repeat:no-repeat;
                background-size: cover;
                border-radius: 10px;
                cursor: pointer;
                transition: var(--transition);
                &:hover{
                    transform: rotate(5deg) scale(1.1);
                } 
            }
        h3{
            background-color: #fff;
            box-shadow: 0px 30px 15px 5px #ddd;
            width: 300px;
            font-size: 15px;
            color: var(--blue-color);
            text-align: left;
            height: 100px;
            @include center;
            position: relative;
            top: -15%;
            left: 5%;
            &::after{
                content: " Lastest Articles ";
                    width: 111px;
                    height: 10px;
                    font-size: 5px;
                    padding: 10px;
                    background-color: #0b74a4;
                    color: #fff;
                    text-align: center;
                    position: absolute;
                    top: -20%;
                    left: 10%;
            }
                    &::before{
                        content: "";
                        width: 2px;
                        height: 40px;
                        background-color: #0b74a4;
                        position: absolute;
                        left: 7%;
                    }
                }
                p{
                    text-align: left;
                    font-size: 12px;
                    // color: #fff;
                }
                span{
                    background-color: var(--blue-color);
                    color: #fff;
                    padding: 5px;
                    border-radius: 50%;
                    font-size: 12px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    @include center;
                    margin-top: 2%;
                    cursor: pointer;
                }
                }
        }   
    }
        /* small screen */
@media (min-width:468px ) and (max-width:1000px){
    .content-page{
        @include center;
    .contain-articles{
        @include center;
        flex-direction: column;
    article{
        margin-bottom: 70%;
    }
    }
    }
}

// @media (min-width:1000px ) and (max-width:1200){
// }
}